html {
  18px
}
* {
font-family: "Helvetica";
}
.background {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header {
  display: flex;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  justify-content: space-around;
  /* width: 960px; */
  height: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
}
h3 {
padding-top: 1rem;
font-size: 1rem;
font-weight: normal;
margin-left: 0;
}
.header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  /* padding-top: 1.75rem; */
  padding-top: 1.75rem;
}
.mobile-nav {
  display: none;
}
.menu {
  display: inline-flex;
  padding-right: 2rem;
  padding-top: 1rem;
  /* padding-top: 1rem 2rem 1rem 40rem; */
  padding-bottom: 1.5rem;
  padding-left: 40rem;
  font-size: 1rem;
  /* justify-content: flex-end; */
}
.banner {
  display: flex;
  background-color: white;
  font-size: 2rem;
  height: 5rem;
  width: 25rem;
  padding: 1.5rem 5rem;
  font-weight: bold;
  margin-left: 45rem;
  line-height: 1.2;
  align-items: center;
}
.services {
  display: flex;
}
.graphics img{


  /* justify-content: center;
  align-items: center; */
}
