html {
  18px;
}
* {
font-family: "Helvetica";
}
.background {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
.header {
  display: flex;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  justify-content: space-around;
  /* width: 960px; */
  height: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
}
h3 {
padding-top: 1rem;
font-size: 1rem;
font-weight: normal;
margin-left: 0;
}
.header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  /* padding-top: 1.75rem; */
  padding-top: 1.75rem;
}
.mobile-nav {
  display: none;
}
.menu {
  display: inline-flex;
  padding: 1rem 2rem 1.5rem 40rem;
  font-size: 1rem;
  /* justify-content: flex-end; */
}
.banner {
  /* display: flex; */
  background-color: white;
  height: 5rem;
  width: 25rem;
  padding: 1.5rem 5rem;
  margin-left: 45rem;
}
.banner p {
    font-weight: bold;
    align-items: center;
    font-size: 2rem;
    line-height: 1.2;
}
.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  height: 8rem;
  /* padding-right: 6rem;
  padding-left: 6rem; */
}
.services #paper img{
  height: 5rem;
  width: 3.5rem;
  padding-left: 1.5rem;
}
.services  #ruler img {
  width: 5rem;
  height: 2.5rem;
}
.services   #truck img {
  height: 3rem;
  width: 5rem;
}
.services  p {
  width: 5rem;
  text-align: center;
}
.services #ruler p{
  padding-top: 2.5rem;
}
.services #truck p{
  padding-top: 2rem;
}
.headings {
  display: flex;
  justify-content: space-around;
}
.headings  h2 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-top: 3rem;
  width: 15rem;
  /* margin-right: 5%; */
}
.headings  p {
  padding-top: 1rem;
  width: 20rem;
}
.headings
#phil #appt {
  width: 20rem;
}
h2 {
  text-align: center;
}
.footer {
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem;
  align-items: center;
  background-color: azure;
}
.footer img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
.footer h3 {
  padding-top: 0;
}
@media only screen and (max-width: 1024px){
  .banner {
    margin-top: 5rem;
    margin-right: 2rem;
    margin-left: 20rem;
    /* had to change L margin from top to move banner over */
    padding: 0;
  }
  .banner p {
    font-size: 1.33rem;
    text-align: center;
  }
  .background {
    height: 22rem;
    /* width: 100%; */
  }
  .header {
    margin-top: 0;
    /* how to get header to stretch across?? */
    /* width: 100%; */
  }
  .header .menu {
    padding-left: 10rem;
  }
}
@media only screen and (max-width: 470px){
        /* test on phone */
.background {
  background-position: 20%;
  height: 20rem;
}
.header {
  margin: 0;
  padding-right: 15rem;
}
.header h3{
  display: none;
}
.menu {
  display: none;
}
.mobile-nav {
  display: flex;
  padding-top: 1rem;
  padding-left: 10rem;
}
.banner {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10rem;
  margin-bottom: 2rem;
  height: 2rem;
  padding-bottom: 1rem;
}
.banner p {
  font-size: 1rem;
  text-align: center;
}
.services {
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.services #paper img {
  padding-left: 0.75rem;
}
.services #paper p {
  padding-bottom: 1.54rem;
}
.services #ruler p {
  padding-bottom: 1.54rem;
  padding-top: 0;
}
.services #truck p {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0.5rem;
}
.services p {
  font-size: 0.77rem;
}
.headings {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headings h2 {
  margin-top: 1rem;
  width: 100%;
}
.headings p {
  padding-top: 1rem;
  width: 23rem;
  font-size: 0.77rem;
}
.footer {
  align-items: center;
}
.footer h3 {
  display: none;
}
.footer img {
  /*couldn't get to align center, so added padding below  */
  padding-left: 10rem;
}
}
